
<div class="order-show">


<section class="order-completed">

<h1>Thank you!</<h1>

<p> <%= @order.first_name %>, your order #<%= @order.id %> has been completed and you'll receive a confirmation email shortly with your receipt.</p>


<button type="button" name="button">
<%= link_to "Continue to home", root_path %>
</button>

</section>

</div>
