.remove {
  display: inline-block;
  padding: 12px 16px;
  border: 2px solid blue;
  color: blue;
}

.checkout-button {
  display: inline-block;
  padding: 16px 24px;
  background-color: #524FFD;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cart {
  margin-bottom: 8px;
  border-bottom: 1px solid blue;
}
