$body-font: "Play";
$heading-font: "Days One";
$body-new: "Staatliches";
$orange1: #F46C34;
$orange2: #F68151;
$orange3: #F8A17C;
$red1: #E64256;
$red2: #EC6F7E;
$red3: #F29CA6;
$green1: #00A84F;
$green2: #00E56C;
$green3: #1AFF85;
$blue1: #0052A3;
$blue2: #006BD6;
$blue3: #0A85FF;
$black1: #333333;
$black2: #666666;
$black3: #999999;
$silver1: #989898;
$silver2: #B2B2B2;
$silver3: #CCCCCC;
$background-silver: #F2F2F2;



.remove {
  display: inline-block;
  padding: 12px 16px;
  border: 2px solid $red2;
  color: $red2;
}

.checkout-button {
  display: inline-block;
  padding: 16px 24px;
  background-color: $orange1;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

tr.cart {
  margin-top: 24px;
  margin-bottom: 8px;
  border-bottom: 2px solid $blue3;
  padding: 24px;
}

tbody {
  margin-top: 24px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
     }

div.checkout-continue {
    margin-left: 900px;
     }

  .back-to-shop {
    margin-top: 16px;
    display: inline-block;
    padding: 16px 24px;
    border: 2px solid $blue2;
    color: $blue2;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
