.StripeElement {
  padding: 24px 16px;
  border-style: none;
  background-color: #16be31;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #22d53f;
  border-radius: 4px;
  width: 360px;
}
