$body-font: "Play";
$heading-font: "Days One";
$body-new: "Staatliches";
$orange1: #F46C34;
$orange2: #F68151;
$orange3: #F8A17C;
$red1: #E64256;
$red2: #EC6F7E;
$red3: #F29CA6;
$green1: #00A84F;
$green2: #00E56C;
$green3: #1AFF85;
$blue1: #0052A3;
$blue2: #006BD6;
$blue3: #0A85FF;
$black1: #333333;
$black2: #666666;
$black3: #999999;
$silver1: #989898;
$silver2: #B2B2B2;
$silver3: #CCCCCC;
$background-silver: #F2F2F2;

.StripeElement {
  padding: 24px 16px;
  border-style: none;
  box-shadow: 2px 0px 0px $blue3, inset 0 2px 5px $blue3;
  border-radius: 4px;
  width: 360px;
  background-color: $blue2;
  color: white;
  margin-bottom: 0;
}

div.checkout-flex {
  margin-left: 12rem;
  display: flex;
  // flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

section.order-total {
  margin-left: 16rem;
  font-size: 24px;
}

section.order-form {
  margin-bottom: 80px;
}
