@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400);
@import url(https://fonts.googleapis.com/css?family=Russo+One);


$body-font: "Epilogue";
$heading-font: "Padauk";
$body-new: "Staatliches";


.select_product {
  padding: 16px 24px;
  border: 2px solid rgb(20, 190, 52);
  color: rgb(20, 190, 52);
  margin-top: 8px;
  font-family: $body-font;
  font-size: 14px;
  width: 360px;
  font-weight: 700;
}

.select-quantity {
  padding: 16px 24px;
  border: 2px solid rgb(20, 190, 52);
  color: rgb(20, 190, 52);
  margin-top: 8px;
  font-family: $body-font;
  font-size: 14px;
  font-weight: 700;
   width: 64px;
}
