section.nft-label {
  h1 {
    margin-left: 12rem;
    color: $green1;
    size: 72px;
  }
}

div.nft {
  display: flex;
  justify-content: flex-start;
  margin-left: 12rem;
  margin-top: 80px;
  margin-bottom: 48px;

  h2 {
    margin-bottom: 8px;
  }

  p {
    width: 100%;
    margin-bottom: 4px;
  }
}

div.nft-other {
  margin-left: 2rem;
}

.nft-cover-image {
  border: 4px solid $green2;
}
