

$body-font: "Play";
$heading-font: "Days One";
$body-new: "Staatliches";
$orange1: #F46C34;
$orange2: #F68151;
$orange3: #F8A17C;
$red1: #E64256;
$red2: #EC6F7E;
$red3: #F29CA6;
$green1: #00A84F;
$green2: #00E56C;
$green3: #1AFF85;
$blue1: #0052A3;
$blue2: #006BD6;
$blue3: #0A85FF;
$black1: #333333;
$black2: #666666;
$black3: #999999;
$silver1: #989898;
$silver2: #B2B2B2;
$silver3: #CCCCCC;
$background-silver: #F2F2F2;


section.nft-label {
  h1 {
    margin-left: 12rem;
    color: $green1;
    size: 72px;
  }
}

div.nft {
  display: flex;
  justify-content: flex-start;
  margin-left: 12rem;
  margin-top: 80px;
  margin-bottom: 48px;

  h2 {
    margin-bottom: 8px;
  }

  p {
    width: 100%;
    margin-bottom: 4px;
  }
}

div.nft-other {
  margin-left: 2rem;
}

.nft-cover-image {
  border: 4px solid $green2;
}
