$body-font: "Play";
$heading-font: "Days One";
$body-new: "Staatliches";
$orange1: #F46C34;
$orange2: #F68151;
$orange3: #F8A17C;
$red1: #E64256;
$red2: #EC6F7E;
$red3: #F29CA6;
$green1: #00A84F;
$green2: #00E56C;
$green3: #1AFF85;
$blue1: #0052A3;
$blue2: #006BD6;
$blue3: #0A85FF;
$black1: #333333;
$black2: #666666;
$black3: #999999;
$silver1: #989898;
$silver2: #B2B2B2;
$silver3: #CCCCCC;
$background-silver: #F2F2F2;


section.product-grid-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;

  h2 {
    text-align: left;
    margin-top: 0;
  }
}

.product {
  // img {
  //   display: block;
  //   text-align: center;
  //   align-items: center;
  // }
}

.product-show-image {
  width: 400px;
  margin-right: 0;
}

.back-to-front {
  display: inline-block;
  padding: 12px 16px;
  border: 2px solid $blue2;
  color: $blue2;
  padding: 16px 40px;
  width: 300px;
  text-align: center;
  margin-top: 80px;
  font-weight: 400;
}


section.description {

  h5 {
    margin-bottom: 8px;
  }
}

  div.product-description  {

    p {
    margin-top: 32px;
    font-size: 20px;
      }
}

// div.product_form {
//   margin-top: 64px;
// }

div.add-to-cart-form {
  margin-top: 40px;
}

label.product_select {
  margin-top: 16px;
}

.back_arrow {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  margin-right: 4px;
}
