@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400);
@import url(https://fonts.googleapis.com/css?family=Russo+One);


$body-font: "Roboto Slab";
$heading-font: "Russo One";


h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}



body {
  width: 100vw;
  height: 100vh;
  font-family: $body-font;
  font-weight: 300;
  background-color: white;
}

input[type=submit] {
  background: #524FFD;
  color: white;
  border-color: rgba(122, 168, 255, 0.2);
  margin-top: 10px;
  margin-left: 25px;
  border-radius: 8px;
  padding: 8px 24px;
  width: 200px;
  font-size: 12px;
  letter-spacing: 1px;
}

select.select_product_class {
  border-color: rgba(122, 168, 255, 0.2);
  color: green;
}

div, form {
    margin: 0 0 0 25px;
  }


  label {
    display: block;
    color: #524FFD;
    .select_product {
      color: #524FFD;
    }
  }

input, textarea {
  font-size: 18px;
  min-width: 100px;
  border: 1px solid #524FFD;
  padding: 7px 10px;
  font-family: $body-font;
  margin: 8px 0px;
  color: #524FFD;
  background-color: white;
  width: 4px;

      &:focus {
          outline: none !important;
          border: 2px solid #524FFD;
      }
    }

.product_form {
  width: 100;
  margin-left: 700px;

}


div.flash-success {
  background-color: black;
  color: white;
  padding: 8px 8px;
  width: auto;
  font-size: 12px;
}

header {

  display: flex;
  justify-content: space-between;
  height: auto;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 36px 13px rgba(0, 0, 0, 0.03);
  width: 100vw;
  margin-bottom: 32px;

  nav {
    a {
      margin-right: 32px;
        vertical-align: center;

    }
  }

  img {
    display: block;
    width: 200px;
    margin: 24px auto 24px 32px;
    box-shadow: none;
  }

}

img {
  box-shadow: 0px 4px 15px 6px rgba(0, 0, 0, 0.19);
}


a {
  text-decoration: none;
  color: black;
}

section.flexbox {

    width: 600px;

    margin: 0px auto;
    display: flex;


  .flex {

    margin-left: 48px;
    width: 50%;
    vertical-align: center;
    text-align: left;

    h2 {
      margin-bottom: 56px;
    }
  }
}

ul.products-grid {
  list-style: none;

  .product {
    text-align: center;
  }


  li {
    width: 25%;
    height: 120px;
    float: left;
    margin-bottom: 180px;
  }
}

section.description {

  margin-left: 12%;

  h5 {
    margin-bottom: 8px;
  }

  div.product-description p {

margin-top: 0;

  }

}


// show page

h4 {
  margin-left: 32px;
}
